.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(127, 255, 212, 0.297);
    border: 2px solid rgb(207, 19, 107);
    border-radius: 5px;
}

label {
    display: inline-block;
    text-align: right;
}

input[type="text"],
input[type="checkbox"] {
    margin-bottom: 7px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

body {
    background-image: url(back.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
